/* Meu primeiro arquivo CSS */
/* TAGS */
*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial;
}

a{
    font-size: 20px;
}

h1{  
    color: rgb(241, 81, 7);
    text-align: center;
    margin: 0px 0px 50px 0px;
    font-size: 40px;
    text-shadow: 1px 1px 1px #111111;
}

p{
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Helvetica, Arial;
    text-shadow: 1px 1px 1px #111111;
}

body{
    background-color: rgb(39, 39, 39);
}

header{
    background-image: -webkit-linear-gradient(#1760b4, #104581);
    height: 120px;
    padding: 5px;
}

header img{
    width: 120px;
}

/* IDS */
#principal{
    background-color: rgb(39, 39, 39);
    background-size: 100%;
    min-height: 500px;
    padding: 0 0 0 0;
    clear: both;
}

#logo{
    float: left;
}

#menu{
    float: right;
    margin-top: 45px;
}

#menu a{
    text-decoration: none;
    color: #111;
    text-shadow: 1px 1px #111111;
    padding: 58px 20px;
}

#menu a:hover{
    background-color: #104581;
    color: #1d7be6;
}

/* CLASS */
.container{
    width: 1500px;
    margin: 0 auto;
}
