body {
    color: #dfdfdf;
    background-color: #1a1a1a;
    padding: 10px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:link {
    color: rgb(71, 98, 255);
}

h1 {    
    font-size: 27.5px;
}

h2 {
    font-size: 23.5px;
}

ul {
    text-align: left;
}

ol {
    text-align: left;
}

p {
    font-size: 17.5px;
}

/* IDs */
#lightmode {
    float: right;
    clear: left;
    width: 150px;
}